n8n-workflows/workflow-1-email-triage-v2.json
{"name":"Exsto Cura Email Triage v2","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute","minute":15}]},"filters":{"readStatus":"unread"},"options":{}},"name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[240,400],"credentials":{"gmailOAuth2":{"name":"Gmail — mcraig@exstocura.com"}}},{"parameters":{"jsCode":"const item=$input.first().json;\nreturn[{json:{from:item.from||'',subject:item.subject||'',body:(item.text||item.snippet||'').substring(0,1500),emailId:item.id||''}}];"},"name":"Extract Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,400]},{"parameters":{"authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $credentials.httpHeaderAuth.value }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({model:'claude-sonnet-4-20250514',max_tokens:1000,messages:[{role:'user',content:'Triage email for Michael Craig at Exsto Cura. Return ONLY JSON. FROM:'+$json.from+' SUBJECT:'+$json.subject+' BODY:'+$json.body+' Return {classification:URGENT|BD|ROUTINE|VENDOR|JUNK,priority_score:5,summary:string,suggested_action:string,draft_reply:string}'}]}) }}","options":{}},"name":"Claude Classify","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[680,400],"credentials":{"httpHeaderAuth":{"name":"Anthropic HTTP"}}},{"parameters":{"jsCode":"const r=$input.first().json;\nlet t='';\ntry{t=r.content[0].text}catch(e){t='{}'}\nlet p;\ntry{p=JSON.parse(t.replace(/```json|```/g,'').trim())}catch(e){p={classification:'ROUTINE',priority_score:5,summary:'Review manually',suggested_action:'Check Gmail',draft_reply:''}}\nconst e=$('Extract Fields').first().json;\nreturn[{json:{...p,original_from:e.from,original_subject:e.subject,email_id:e.emailId,timestamp:new Date().toISOString()}}];"},"name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,400]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.classification }}","operation":"equals","value2":"URGENT"}]}},"name":"Is URGENT?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,280]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.classification }}","operation":"equals","value2":"JUNK"}]}},"name":"Is JUNK?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,520]},{"parameters":{"sendTo":"mcraig@exstocura.com","subject":"=URGENT — {{ $json.original_subject }}","emailType":"html","message":"=<div style='padding:20px'><h2>URGENT EMAIL</h2><p><b>From:</b> {{ $json.original_from }}</p><p><b>Summary:</b> {{ $json.summary }}</p><p><b>Action:</b> {{ $json.suggested_action }}</p><p>{{ $json.draft_reply }}</p></div>","options":{}},"name":"Alert Michael","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[1340,180],"credentials":{"gmailOAuth2":{"name":"Gmail — mcraig@exstocura.com"}}},{"parameters":{"resource":"page","operation":"create","pageId":{"__rl":true,"value":"bd23e3d8b636495d9b889587dae985e4","mode":"id"},"title":"={{ $json.original_subject }}","simple":true},"name":"Log to Notion","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1340,400],"credentials":{"notionApi":{"name":"Notion account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.email_id }}","labelIds":["TRASH"]},"name":"Archive JUNK","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[1340,620],"credentials":{"gmailOAuth2":{"name":"Gmail — mcraig@exstocura.com"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Extract Fields","type":"main","index":0}]]},"Extract Fields":{"main":[[{"node":"Claude Classify","type":"main","index":0}]]},"Claude Classify":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Is URGENT?","type":"main","index":0},{"node":"Is JUNK?","type":"main","index":0},{"node":"Log to Notion","type":"main","index":0}]]},"Is URGENT?":{"main":[[{"node":"Alert Michael","type":"main","index":0}],[]]},"Is JUNK?":{"main":[[],[{"node":"Archive JUNK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}
