n8n-workflows/backups/Exsto_Cura_Weekly_Digest_backup_20260329.json
{
  "updatedAt": "2026-03-29T17:37:33.695Z",
  "createdAt": "2026-03-29T16:29:03.565Z",
  "id": "TtSLiFqydMLODkHI",
  "name": "Exsto Cura Weekly Digest",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "name": "Monday 8am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        400
      ],
      "id": "473670a9-e8f8-43bc-87bf-99300fb0250a"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "bd23e3d8b636495d9b889587dae985e4",
          "mode": "id"
        },
        "returnAll": true,
        "filterType": "formula",
        "filters": {
          "conditions": [
            {
              "key": "Timestamp|date",
              "condition": "pastWeek"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Week Emails",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -580,
        400
      ],
      "credentials": {
        "notionApi": {
          "id": "sHCYhXvTmtCNQPUU",
          "name": "Notion account"
        }
      },
      "id": "5a6673ae-07b3-441b-81d1-bc5f7a8dd570"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst stats = {total: items.length, urgent: 0, bd: 0, routine: 0, vendor: 0, junk: 0, senders: {}};\nfor (const item of items) {\n  const props = item.json.properties || item.json;\n  const cls = props.Classification?.select?.name || props.classification || 'UNKNOWN';\n  const from = props.From?.rich_text?.[0]?.plain_text || props.original_from || 'Unknown';\n  stats[cls.toLowerCase()] = (stats[cls.toLowerCase()] || 0) + 1;\n  stats.senders[from] = (stats.senders[from] || 0) + 1;\n}\nconst topSenders = Object.entries(stats.senders).sort((a,b) => b[1]-a[1]).slice(0,5).map(([s,c]) => `${s}: ${c} emails`).join('\\n');\nconst summary = `Week Summary:\\nTotal emails: ${stats.total}\\nURGENT: ${stats.urgent}\\nBD: ${stats.bd}\\nROUTINE: ${stats.routine}\\nVENDOR: ${stats.vendor}\\nJUNK: ${stats.junk}\\n\\nTop Senders:\\n${topSenders}`;\nreturn [{json: {summary, ...stats, topSenders}}];"
      },
      "name": "Aggregate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        400
      ],
      "id": "d48cb446-0416-425c-8b70-9b1b72b0f275"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.httpHeaderAuth.value }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({model:'claude-haiku-3-20250307',max_tokens:1000,messages:[{role:'user',content:'You are an executive assistant for Michael Craig, CEO of Exsto Cura. Write a concise weekly email digest based on this email triage data. Be professional, highlight anything important, and note trends. DATA: '+$json.summary+' Format as a clean HTML email with sections for Key Highlights, Stats Breakdown, and Recommendations.'}]}) }}",
        "options": {}
      },
      "name": "Claude Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -140,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "48RGxhjkOn6nkAnH",
          "name": "Anthropic API Key"
        }
      },
      "id": "b07c8c8d-5e15-4f95-ab9a-671c77100d1c"
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nlet text = '';\ntry { text = r.content[0].text; } catch(e) { text = '<p>Could not generate digest. Check workflow executions.</p>'; }\nreturn [{json: {digestHtml: text}}];"
      },
      "name": "Extract Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        400
      ],
      "id": "dd79147f-b41c-4c32-b800-919803cb61a7"
    },
    {
      "parameters": {
        "sendTo": "mcraig@exstocura.com",
        "subject": "=Weekly Email Triage Digest - Exsto Cura",
        "message": "=<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px'>{{ $json.digestHtml }}</div>",
        "options": {}
      },
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        300,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "ulhDjv62tjLURSP5",
          "name": "Gmail account"
        }
      },
      "id": "e13a5450-5f91-4018-ab21-a0c9f906dbad"
    }
  ],
  "connections": {
    "Monday 8am Trigger": {
      "main": [
        [
          {
            "node": "Get Week Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Week Emails": {
      "main": [
        [
          {
            "node": "Aggregate Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Stats": {
      "main": [
        [
          {
            "node": "Claude Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Digest": {
      "main": [
        [
          {
            "node": "Extract Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Digest": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Monday 8am Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "08fbe3f1-d052-4ac6-bc93-39e074d0e3e7",
  "activeVersionId": "08fbe3f1-d052-4ac6-bc93-39e074d0e3e7",
  "versionCounter": 10,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-29T16:29:03.568Z",
      "createdAt": "2026-03-29T16:29:03.568Z",
      "role": "workflow:owner",
      "workflowId": "TtSLiFqydMLODkHI",
      "projectId": "Gd7EMXwCMUUP49NR",
      "project": {
        "updatedAt": "2026-03-28T14:12:48.769Z",
        "createdAt": "2026-03-28T14:12:43.065Z",
        "id": "Gd7EMXwCMUUP49NR",
        "name": "Michael S Craig <mcraig@exstocura.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "08b1927e-c622-4757-9925-b2a90be3de58"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-29T17:37:33.695Z",
    "createdAt": "2026-03-29T17:37:33.695Z",
    "versionId": "08fbe3f1-d052-4ac6-bc93-39e074d0e3e7",
    "workflowId": "TtSLiFqydMLODkHI",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ],
                "triggerAtHour": 8
              }
            ]
          }
        },
        "name": "Monday 8am Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -800,
          400
        ],
        "id": "473670a9-e8f8-43bc-87bf-99300fb0250a"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "operation": "getAll",
          "databaseId": {
            "__rl": true,
            "value": "bd23e3d8b636495d9b889587dae985e4",
            "mode": "id"
          },
          "returnAll": true,
          "filterType": "formula",
          "filters": {
            "conditions": [
              {
                "key": "Timestamp|date",
                "condition": "pastWeek"
              }
            ]
          },
          "options": {}
        },
        "name": "Get Week Emails",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2,
        "position": [
          -580,
          400
        ],
        "credentials": {
          "notionApi": {
            "id": "sHCYhXvTmtCNQPUU",
            "name": "Notion account"
          }
        },
        "id": "5a6673ae-07b3-441b-81d1-bc5f7a8dd570"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst stats = {total: items.length, urgent: 0, bd: 0, routine: 0, vendor: 0, junk: 0, senders: {}};\nfor (const item of items) {\n  const props = item.json.properties || item.json;\n  const cls = props.Classification?.select?.name || props.classification || 'UNKNOWN';\n  const from = props.From?.rich_text?.[0]?.plain_text || props.original_from || 'Unknown';\n  stats[cls.toLowerCase()] = (stats[cls.toLowerCase()] || 0) + 1;\n  stats.senders[from] = (stats.senders[from] || 0) + 1;\n}\nconst topSenders = Object.entries(stats.senders).sort((a,b) => b[1]-a[1]).slice(0,5).map(([s,c]) => `${s}: ${c} emails`).join('\\n');\nconst summary = `Week Summary:\\nTotal emails: ${stats.total}\\nURGENT: ${stats.urgent}\\nBD: ${stats.bd}\\nROUTINE: ${stats.routine}\\nVENDOR: ${stats.vendor}\\nJUNK: ${stats.junk}\\n\\nTop Senders:\\n${topSenders}`;\nreturn [{json: {summary, ...stats, topSenders}}];"
        },
        "name": "Aggregate Stats",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -360,
          400
        ],
        "id": "d48cb446-0416-425c-8b70-9b1b72b0f275"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $credentials.httpHeaderAuth.value }}"
              },
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({model:'claude-haiku-3-20250307',max_tokens:1000,messages:[{role:'user',content:'You are an executive assistant for Michael Craig, CEO of Exsto Cura. Write a concise weekly email digest based on this email triage data. Be professional, highlight anything important, and note trends. DATA: '+$json.summary+' Format as a clean HTML email with sections for Key Highlights, Stats Breakdown, and Recommendations.'}]}) }}",
          "options": {}
        },
        "name": "Claude Digest",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          -140,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "48RGxhjkOn6nkAnH",
            "name": "Anthropic API Key"
          }
        },
        "id": "b07c8c8d-5e15-4f95-ab9a-671c77100d1c"
      },
      {
        "parameters": {
          "jsCode": "const r = $input.first().json;\nlet text = '';\ntry { text = r.content[0].text; } catch(e) { text = '<p>Could not generate digest. Check workflow executions.</p>'; }\nreturn [{json: {digestHtml: text}}];"
        },
        "name": "Extract Digest",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          80,
          400
        ],
        "id": "dd79147f-b41c-4c32-b800-919803cb61a7"
      },
      {
        "parameters": {
          "sendTo": "mcraig@exstocura.com",
          "subject": "=Weekly Email Triage Digest - Exsto Cura",
          "message": "=<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px'>{{ $json.digestHtml }}</div>",
          "options": {}
        },
        "name": "Send Digest Email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          300,
          400
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "ulhDjv62tjLURSP5",
            "name": "Gmail account"
          }
        },
        "id": "e13a5450-5f91-4018-ab21-a0c9f906dbad"
      }
    ],
    "connections": {
      "Monday 8am Trigger": {
        "main": [
          [
            {
              "node": "Get Week Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Week Emails": {
        "main": [
          [
            {
              "node": "Aggregate Stats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Stats": {
        "main": [
          [
            {
              "node": "Claude Digest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude Digest": {
        "main": [
          [
            {
              "node": "Extract Digest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Digest": {
        "main": [
          [
            {
              "node": "Send Digest Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Michael S Craig",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-29T17:37:33.886Z",
        "id": 18,
        "workflowId": "TtSLiFqydMLODkHI",
        "versionId": "08fbe3f1-d052-4ac6-bc93-39e074d0e3e7",
        "event": "activated",
        "userId": "08b1927e-c622-4757-9925-b2a90be3de58"
      },
      {
        "createdAt": "2026-03-29T17:37:33.789Z",
        "id": 17,
        "workflowId": "TtSLiFqydMLODkHI",
        "versionId": "08fbe3f1-d052-4ac6-bc93-39e074d0e3e7",
        "event": "deactivated",
        "userId": "08b1927e-c622-4757-9925-b2a90be3de58"
      }
    ]
  }
}