n8n-workflows/backups/Exsto_Cura_SmartPM_Market_Intelligence_Outreach_Agent_backup_20260329.json
{
  "updatedAt": "2026-03-29T17:37:33.281Z",
  "createdAt": "2026-03-29T17:37:33.281Z",
  "id": "8Lg3lsjoraEUizfw",
  "name": "Exsto Cura — SmartPM Market Intelligence & Outreach Agent",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1"
            }
          ]
        }
      },
      "name": "Trigger — Every Monday 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ],
      "notes": "Runs weekly — generates fresh prospect intelligence and outreach drafts every Monday before your BD digest",
      "id": "c67f088d-1880-4e21-b65e-8c718e8ada05"
    },
    {
      "parameters": {
        "jsCode": "// ════════════════════════════════════════════════════════\n// EXSTO CURA — SMARTPM PROSPECT DATABASE\n// Edit this list as you qualify/disqualify targets\n// Signal codes: LOSS=financial loss documented, DELAY=project delay public, LIEN=lien filed, BOND=surety claim\n// ════════════════════════════════════════════════════════\n\nconst prospects = [\n\n  // ── SEGMENT 1: MID-SIZE GCs — REGIONAL HEAVY CIVIL ──────────────────────\n  {\n    company: 'Barnard Construction Company',\n    segment: 'Mid-Size GC',\n    vertical: 'Heavy Civil / Infrastructure',\n    revenue_est: '$500M-$800M',\n    hq: 'Bozeman, MT',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Pipeline and transmission corridor projects with documented schedule pressure. Not ENR Top 50.',\n    project_range: '$100-300M',\n    contact_title: 'VP of Operations / Project Controls Manager',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'MEDIUM',\n    search_keywords: ['Barnard Construction schedule delay', 'Barnard Construction project controls', 'Barnard Construction claim'],\n    outreach_angle: 'Heavy civil corridor experience maps directly to their pipeline/transmission work. BIR on next bid package.'\n  },\n\n  {\n    company: 'Granite Telecommunications / Granite Construction (mid-tier ops)',\n    segment: 'Mid-Size GC',\n    vertical: 'Heavy Civil / Highway',\n    revenue_est: '$300-600M ops division',\n    hq: 'Watsonville, CA',\n    vertically_integrated: false,\n    signal: 'LOSS',\n    signal_detail: 'Public company — SEC filings show project write-downs on fixed-price highway contracts 2023-2024.',\n    project_range: '$150-300M',\n    contact_title: 'Director of Project Controls',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Granite Construction project loss 2024', 'Granite Construction schedule claim', 'Granite Construction 10-K overrun'],\n    outreach_angle: 'SEC-documented project losses. SmartPM monitoring prevents recurrence. BIR on active bids.'\n  },\n\n  {\n    company: 'Primoris Services Corporation — Utilities Division',\n    segment: 'Mid-Size GC',\n    vertical: 'Utilities / Pipeline / Power',\n    revenue_est: '$800M-$1.2B (utilities segment)',\n    hq: 'Dallas, TX',\n    vertically_integrated: false,\n    signal: 'LOSS',\n    signal_detail: 'Public company. Utilities segment has shown margin compression on fixed-price contracts. Not vertically integrated on controls side.',\n    project_range: '$100-250M',\n    contact_title: 'VP Project Controls / Scheduling Manager',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Primoris Services project loss utilities', 'Primoris schedule delay claim', 'Primoris 10-K cost overrun'],\n    outreach_angle: 'Texas-based — local relationship angle. Utilities/power corridor overlap with CHPE experience.'\n  },\n\n  {\n    company: 'Wanzek Construction',\n    segment: 'Mid-Size GC',\n    vertical: 'Energy / Industrial / Wind',\n    revenue_est: '$400-700M',\n    hq: 'Fargo, ND',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Wind and industrial construction. Complex multi-prime interfaces. Known for schedule pressure on renewable energy projects.',\n    project_range: '$100-300M',\n    contact_title: 'Director of Planning and Scheduling',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'MEDIUM',\n    search_keywords: ['Wanzek Construction schedule delay', 'Wanzek wind project controls', 'Wanzek Construction claim'],\n    outreach_angle: 'Renewable energy + HVDC transmission intersection. ALICE simulation angle on pre-construction.'\n  },\n\n  {\n    company: 'Cianbro Corporation',\n    segment: 'Mid-Size GC',\n    vertical: 'Industrial / Marine / Energy',\n    revenue_est: '$600M-$900M',\n    hq: 'Pittsfield, ME',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Complex industrial and marine projects in Northeast. Known schedule complexity on multi-discipline projects.',\n    project_range: '$100-300M',\n    contact_title: 'VP Engineering and Planning',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Cianbro Corporation project delay', 'Cianbro schedule claim', 'Cianbro project controls'],\n    outreach_angle: 'Northeast corridor — geographic overlap with CHPE/TDI territory. Marine and industrial scope experience.'\n  },\n\n  {\n    company: 'Dunn Construction Co',\n    segment: 'Mid-Size GC',\n    vertical: 'Heavy Civil / Highways',\n    revenue_est: '$200-400M',\n    hq: 'Birmingham, AL',\n    vertically_integrated: false,\n    signal: 'LOSS',\n    signal_detail: 'Regional heavy civil. Fixed-price highway and bridge projects with documented completion delays on state DOT contracts.',\n    project_range: '$100-200M',\n    contact_title: 'Project Manager / Scheduling Lead',\n    smartpm_fit: 'MEDIUM',\n    bir_fit: 'HIGH',\n    search_keywords: ['Dunn Construction Alabama delay claim', 'Dunn Construction DOT project overrun'],\n    outreach_angle: 'SmartPM Essentials entry point. BIR on DOT bid packages. Low-cost entry for regional player.'\n  },\n\n  // ── SEGMENT 2: NON-VERTICALLY INTEGRATED OWNERS ──────────────────────────\n  {\n    company: 'NV Energy (Berkshire Hathaway Energy)',\n    segment: 'Owner — Utility',\n    vertical: 'Power / Transmission',\n    revenue_est: 'Subsidiary — large',\n    hq: 'Las Vegas, NV',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Transmission expansion program. Owner-side controls dependent on contractor reporting. No independent schedule analytics capability.',\n    project_range: '$150-400M',\n    contact_title: 'Director of Capital Projects / Project Controls',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['NV Energy transmission project delay', 'NV Energy capital project controls', 'NV Energy contractor claim'],\n    outreach_angle: 'Direct TDI/CHPE analog. Transmission owner with no independent controls. BIR + SmartPM Owner module.'\n  },\n\n  {\n    company: 'Avangrid Renewables',\n    segment: 'Owner — Renewable Energy',\n    vertical: 'Offshore Wind / Transmission',\n    revenue_est: '$2B+ parent',\n    hq: 'Portland, ME',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Vineyard Wind and other offshore projects experiencing significant schedule delays. Owner-side controls gap documented publicly.',\n    project_range: '$200-500M+',\n    contact_title: 'VP Project Controls / Director of Construction',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Avangrid offshore wind delay 2024 2025', 'Avangrid project controls gap', 'Avangrid Vineyard Wind schedule'],\n    outreach_angle: 'Offshore wind + transmission. Ørsted connection as warm intro path. Owner intelligence gap is the exact problem.'\n  },\n\n  {\n    company: 'Pattern Energy',\n    segment: 'Owner — Renewable Energy',\n    vertical: 'Wind / Solar / Transmission',\n    revenue_est: '$1B+ (CPP Investments backed)',\n    hq: 'San Francisco, CA',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'SunZia transmission project — largest wind energy project in US history. Complex multi-contractor delivery. Owner-side controls critical.',\n    project_range: '$100-300M per phase',\n    contact_title: 'VP Construction / Project Controls Director',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Pattern Energy SunZia delay 2025', 'Pattern Energy project controls', 'SunZia transmission schedule'],\n    outreach_angle: 'SunZia is the CHPE equivalent in the Southwest. Owner-side IMS + SmartPM is the exact capability gap.'\n  },\n\n  // ── SEGMENT 3: REGIONAL TRANSIT / WATER AUTHORITIES ─────────────────────\n  {\n    company: 'Sound Transit (Seattle)',\n    segment: 'Public Owner — Transit',\n    vertical: 'Rail / Transit Infrastructure',\n    revenue_est: 'Public agency — $54B program',\n    hq: 'Seattle, WA',\n    vertically_integrated: false,\n    signal: 'LOSS',\n    signal_detail: 'Documented cost overruns exceeding $12B on light rail extensions. Schedule slippage publicly reported. Board-level scrutiny.',\n    project_range: '$200-800M per contract',\n    contact_title: 'Director of Project Controls / Capital Programs',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Sound Transit cost overrun 2024 2025', 'Sound Transit schedule delay project controls', 'Sound Transit contractor claim'],\n    outreach_angle: 'FedRAMP authorized SmartPM fits public agency procurement. Documented losses create urgency. BIR on active bid packages.'\n  },\n\n  {\n    company: 'Denver Water',\n    segment: 'Public Owner — Water Utility',\n    vertical: 'Water Infrastructure',\n    revenue_est: 'Public utility — $2B+ capital program',\n    hq: 'Denver, CO',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Gross Reservoir expansion project experienced significant delays and cost increases. Owner-side controls gap.',\n    project_range: '$100-300M',\n    contact_title: 'Capital Projects Director / Project Controls Manager',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'MEDIUM',\n    search_keywords: ['Denver Water Gross Reservoir delay overrun', 'Denver Water project controls capital program'],\n    outreach_angle: 'Water utility owner with documented project loss. SmartPM Owner module + BIR on next bid cycle.'\n  },\n\n  // ── SEGMENT 4: SMALL CONSULTING COMPANIES (OPM/CM) ───────────────────────\n  {\n    company: 'ARCADIS — Project Controls Division (mid-market)',\n    segment: 'Small-Mid Consulting',\n    vertical: 'Program Management / Owner Rep',\n    revenue_est: 'Parent large — target division is mid-market',\n    hq: 'Global / US offices',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Consulting firm competing on owner-rep engagements. Technology differentiation is a procurement win factor.',\n    project_range: '$100-300M client projects',\n    contact_title: 'Practice Lead — Project Controls',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Arcadis project controls SmartPM', 'Arcadis schedule analytics construction'],\n    outreach_angle: 'Co-referral model. They bring the relationship, you and SmartPM bring the AI analytics stack. Sub-consulting angle.'\n  },\n\n  {\n    company: 'Cumming Group',\n    segment: 'Small-Mid Consulting',\n    vertical: 'Owner Rep / Program Management',\n    revenue_est: '$200-400M',\n    hq: 'Atlanta, GA',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Growing OPM firm. Competes on relationships but lacks technology-enabled schedule controls differentiation.',\n    project_range: '$100-300M client projects',\n    contact_title: 'Regional Director / VP Project Controls',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Cumming Group project controls technology', 'Cumming Group SmartPM schedule analytics'],\n    outreach_angle: 'SmartPM as competitive differentiator in their proposals. You become their technology enablement partner.'\n  },\n\n  {\n    company: 'Kitchell Corporation',\n    segment: 'Small-Mid GC / CM',\n    vertical: 'Healthcare / Education / Institutional',\n    revenue_est: '$500-800M',\n    hq: 'Phoenix, AZ',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Complex institutional projects with LD exposure. Healthcare and education construction has aggressive penalty clauses.',\n    project_range: '$100-250M',\n    contact_title: 'Director of Scheduling / VP Operations',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'MEDIUM',\n    search_keywords: ['Kitchell Corporation schedule delay', 'Kitchell project controls healthcare construction'],\n    outreach_angle: 'Institutional owner market — LD exposure on hospital and school projects. SmartPM continuous monitoring.'\n  },\n\n  {\n    company: 'Solo OPM Practitioners — LinkedIn Sourced',\n    segment: 'Solo Consulting',\n    vertical: 'All',\n    revenue_est: '$500K-$2M annual',\n    hq: 'Various',\n    vertically_integrated: false,\n    signal: 'NONE — proactive play',\n    signal_detail: 'Senior OPMs (20+ yrs exp) running solo practices. Need SmartPM to compete against larger CM firms. Cannot access enterprise licensing directly.',\n    project_range: '$100-300M client projects',\n    contact_title: 'Principal / Owner',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['independent owner representative construction LinkedIn', 'solo project controls consultant LinkedIn', 'OPM consultant independent'],\n    outreach_angle: 'Peer-to-peer. You are them. SmartPM Essentials through your partner agreement. Offer sub-consulting on BIR engagements.'\n  }\n\n];\n\nconst today = new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' });\n\nreturn prospects.map(p => ({ json: { ...p, generated_date: today } }));"
      },
      "name": "Load Prospect Database",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        400
      ],
      "id": "76ca4367-40ce-46f9-b2fb-05adbaad94b8"
    },
    {
      "parameters": {
        "url": "=https://newsapi.org/v2/everything?q={{ encodeURIComponent($json.search_keywords[0]) }}&sortBy=publishedAt&pageSize=3&language=en&apiKey=YOUR_NEWSAPI_KEY",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "News API — Scan for Signals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        400
      ],
      "id": "c09a45b5-43f7-49ef-82e1-8b9a4564a63c"
    },
    {
      "parameters": {
        "url": "=https://efts.sec.gov/LATEST/search-index?q=%22{{ encodeURIComponent($('Load Prospect Database').item.json.company) }}%22+%22project+loss%22&dateRange=custom&startdt=2024-01-01&enddt=2026-12-31&forms=10-K,10-Q,8-K",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "SEC EDGAR — Search Financial Filings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        720,
        560
      ],
      "notes": "Free SEC full-text search API — no key needed. Searches for project loss disclosures in 10-K, 10-Q, 8-K filings.",
      "id": "6dfbb30f-9736-46f2-b14b-8b53e7326034"
    },
    {
      "parameters": {
        "model": "claude-haiku-3-20250307",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=You are the business development intelligence assistant for Michael Craig at Exsto Cura Consilium.\n\nMichael is a Senior Principal project controls consultant and authorized SmartPM referral partner.\nHis specialization: HVDC transmission, offshore wind, energy infrastructure, AI-enabled project controls.\nKey offerings: BIR™ (Bid Schedule Intelligence Review), TRIAGE-IMPACT™ TIA framework, SmartPM deployment, ALICE simulation.\nProof of concept: CO-015 on CHPE settled $27M — the parallel tracks gap between schedule forensics and commercial claims.\n\nAnalyze this prospect and write a targeted intelligence brief.\n\nCOMPANY: {{ $('Load Prospect Database').item.json.company }}\nSEGMENT: {{ $('Load Prospect Database').item.json.segment }}\nVERTICAL: {{ $('Load Prospect Database').item.json.vertical }}\nSIGNAL TYPE: {{ $('Load Prospect Database').item.json.signal }}\nSIGNAL DETAIL: {{ $('Load Prospect Database').item.json.signal_detail }}\nSMARTPM FIT: {{ $('Load Prospect Database').item.json.smartpm_fit }}\nBIR FIT: {{ $('Load Prospect Database').item.json.bir_fit }}\nOUTREACH ANGLE: {{ $('Load Prospect Database').item.json.outreach_angle }}\nPROJECT RANGE: {{ $('Load Prospect Database').item.json.project_range }}\n\nRECENT NEWS:\n{{ JSON.stringify($('News API — Scan for Signals').first().json.articles?.slice(0,3).map(a => ({ title: a.title, date: a.publishedAt, source: a.source?.name, snippet: a.description })), null, 2) }}\n\nSEC FILING SIGNALS:\n{{ JSON.stringify($('SEC EDGAR — Search Financial Filings').first().json?.hits?.hits?.slice(0,3).map(h => ({ filing: h._source?.period_of_report, form: h._source?.form_type, snippet: h._source?.file_date })), null, 2) }}\n\nWrite a crisp intelligence brief with these exact sections:\n\n## SITUATION\n2-3 sentences. What is happening with this company right now based on news and signals.\n\n## PAIN SIGNAL\n1-2 sentences. Specific evidence of the schedule/commercial problem SmartPM solves.\n\n## MICHAEL'S ANGLE\n2-3 sentences. Why reach out NOW. What specific capability closes their gap.\n\n## OUTREACH MESSAGE (LinkedIn or Email)\nWrite a 5-7 sentence message in Michael's voice:\n- Reference specific company situation or recent news\n- Mention CHPE/HVDC experience as credibility anchor\n- Position SmartPM as the solution (not a tool pitch — a capability offer)\n- Include BIR as low-risk entry point where fit is HIGH\n- Do NOT mention dollar amounts or pricing\n- End with a specific question that invites a reply\n\n## RECOMMENDED ACTION\nOne clear next step. Specific.\n\n## PRIORITY SCORE\nRate 1-10 based on: signal strength, SmartPM fit, BIR fit, relationship potential, timing."
            }
          ]
        },
        "options": {
          "maxTokens": 1500
        }
      },
      "name": "Claude — Generate Prospect Brief",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        960,
        480
      ],
      "credentials": {
        "anthropicApi": {
          "id": "u85U62dgbcEwpdkT",
          "name": "Anthropic account"
        }
      },
      "id": "a2488477-642f-42c3-815f-1591ac2c048b"
    },
    {
      "parameters": {
        "databaseId": {
          "__rl": true,
          "value": "5a82e81eee314b7788eb70187c4fb083",
          "mode": "id"
        },
        "title": "={{ $('Load Prospect Database').item.json.company }} - SmartPM Intel {{ new Date().toLocaleDateString() }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Company|rich_text",
              "textContent": "={{ $('Load Prospect Database').item.json.company }}"
            },
            {
              "key": "Segment|select",
              "select": "={{ $('Load Prospect Database').item.json.segment }}"
            },
            {
              "key": "Signal|select",
              "select": "={{ $('Load Prospect Database').item.json.signal }}"
            },
            {
              "key": "SmartPM Fit|select",
              "select": "={{ $('Load Prospect Database').item.json.smartpm_fit }}"
            },
            {
              "key": "BIR Fit|select",
              "select": "={{ $('Load Prospect Database').item.json.bir_fit }}"
            },
            {
              "key": "Status|select",
              "select": "Brief Ready"
            },
            {
              "key": "Week|date",
              "includeTime": true,
              "date": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "paragraph",
              "richText": {
                "text": "={{ $json.text }}"
              }
            }
          ]
        },
        "resource": "databasePage"
      },
      "name": "Save to Notion BD",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ],
      "credentials": {
        "notionApi": {
          "id": "sHCYhXvTmtCNQPUU",
          "name": "Notion account"
        }
      },
      "id": "2a79dde8-321c-4878-bb57-333889176943"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst today = new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' });\nlet digest = `<div style='font-family: Georgia, serif; max-width: 700px; padding: 24px; background: #080808; color: #ede9e1;'>`;\ndigest += `<div style='border-bottom: 1px solid rgba(201,169,110,0.3); padding-bottom: 16px; margin-bottom: 24px;'>`;\ndigest += `<div style='font-family: monospace; font-size: 11px; letter-spacing: 3px; text-transform: uppercase; color: #c9a96e; margin-bottom: 8px;'>SmartPM Market Intelligence</div>`;\ndigest += `<h2 style='font-size: 22px; font-weight: 600; color: #ede9e1; margin: 0;'>Weekly Prospect Briefing</h2>`;\ndigest += `<p style='font-size: 12px; color: #666; margin: 6px 0 0;'>${today} Â· ${allItems.length} prospects Â· Exsto Cura Consilium</p></div>`;\nallItems.forEach((item, i) => {\n  const p = { ...($('Load Prospect Database').all()[i]?.json || {}), text: item.json.text || '' };\n  const signalColor = p.signal === 'LOSS' ? '#e07070' : p.signal === 'DELAY' ? '#e0b870' : '#7dc89a';\n  const fitColor = p.smartpm_fit === 'HIGH' ? '#7dc89a' : p.smartpm_fit === 'MEDIUM' ? '#e0b870' : '#888';\n  digest += `<div style='margin-bottom: 28px; padding: 18px; background: #111; border-left: 3px solid #c9a96e;'>`;\n  digest += `<div style='display: flex; justify-content: space-between; flex-wrap: wrap; gap: 8px;'>`;\n  digest += `<h3 style='font-size: 15px; font-weight: 600; color: #ede9e1; margin: 0;'>${p.company || ''}</h3>`;\n  digest += `<span style='font-size: 10px; color: #c9a96e;'>${p.segment || ''}</span></div>`;\n  digest += `<p style='font-size: 12px; color: #aaa; line-height: 1.6;'><strong style='color: #c9a96e;'>Signal:</strong> ${p.signal_detail || ''}</p>`;\n  if (p.text) digest += `<div style='margin-top: 12px; font-size: 11px; color: #777;'>${String(p.text).substring(0, 280)}...</div>`;\n  digest += `</div>`;\n});\ndigest += `<p style='font-size: 11px; color: #555;'>Full briefings in Notion Â· Exsto Cura</p></div>`;\nreturn [{ json: { digest, count: allItems.length, date: today } }];"
      },
      "name": "Build Weekly Market Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        580
      ],
      "id": "f36f2335-51e5-41b7-bbd6-a857476c123e"
    },
    {
      "parameters": {
        "sendTo": "mcraig@exstocura.com",
        "subject": "=📊 SmartPM Market Intel — {{ $json.count }} Prospects | {{ $json.date }}",
        "emailType": "html",
        "message": "={{ $json.digest }}",
        "options": {}
      },
      "name": "Send Market Digest to Michael",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1440,
        580
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "ulhDjv62tjLURSP5",
          "name": "Gmail account"
        }
      },
      "id": "b23f96c5-65ae-4da9-8a6d-34b4d41e82ed"
    },
    {
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        700
      ],
      "parameters": {},
      "id": "4052b7c7-88b6-4756-b89e-9635c4bf8df8"
    },
    {
      "name": "Error Notify",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        80,
        700
      ],
      "parameters": {
        "sendTo": "mcraig@exstocura.com",
        "subject": "=n8n error: SmartPM Market Agent",
        "emailType": "html",
        "message": "=<p><b>Workflow</b>: SmartPM Market Agent</p><p><b>Error</b>: {{ $json.execution?.error?.message || 'Unknown' }}</p><p><a href=\"https://exo-project-integrity.app.n8n.cloud\">Open n8n</a></p>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "ulhDjv62tjLURSP5",
          "name": "Gmail account"
        }
      },
      "id": "f58f6e9b-4858-48c4-a1a5-29bfc2398bed"
    }
  ],
  "connections": {
    "Trigger — Every Monday 6am": {
      "main": [
        [
          {
            "node": "Load Prospect Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Prospect Database": {
      "main": [
        [
          {
            "node": "News API — Scan for Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News API — Scan for Signals": {
      "main": [
        [
          {
            "node": "SEC EDGAR — Search Financial Filings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEC EDGAR — Search Financial Filings": {
      "main": [
        [
          {
            "node": "Claude — Generate Prospect Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude — Generate Prospect Brief": {
      "main": [
        [
          {
            "node": "Save to Notion BD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Weekly Market Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Weekly Market Digest": {
      "main": [
        [
          {
            "node": "Send Market Digest to Michael",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Trigger — Every Monday 6am": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "a5b73e68-7b0a-4ac4-94e3-095d901d5a98",
  "activeVersionId": "a5b73e68-7b0a-4ac4-94e3-095d901d5a98",
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-29T17:37:33.282Z",
      "createdAt": "2026-03-29T17:37:33.282Z",
      "role": "workflow:owner",
      "workflowId": "8Lg3lsjoraEUizfw",
      "projectId": "Gd7EMXwCMUUP49NR",
      "project": {
        "updatedAt": "2026-03-28T14:12:48.769Z",
        "createdAt": "2026-03-28T14:12:43.065Z",
        "id": "Gd7EMXwCMUUP49NR",
        "name": "Michael S Craig <mcraig@exstocura.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "08b1927e-c622-4757-9925-b2a90be3de58"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-29T17:37:33.314Z",
    "createdAt": "2026-03-29T17:37:33.314Z",
    "versionId": "a5b73e68-7b0a-4ac4-94e3-095d901d5a98",
    "workflowId": "8Lg3lsjoraEUizfw",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 6 * * 1"
              }
            ]
          }
        },
        "name": "Trigger — Every Monday 6am",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          400
        ],
        "notes": "Runs weekly — generates fresh prospect intelligence and outreach drafts every Monday before your BD digest",
        "id": "c67f088d-1880-4e21-b65e-8c718e8ada05"
      },
      {
        "parameters": {
          "jsCode": "// ════════════════════════════════════════════════════════\n// EXSTO CURA — SMARTPM PROSPECT DATABASE\n// Edit this list as you qualify/disqualify targets\n// Signal codes: LOSS=financial loss documented, DELAY=project delay public, LIEN=lien filed, BOND=surety claim\n// ════════════════════════════════════════════════════════\n\nconst prospects = [\n\n  // ── SEGMENT 1: MID-SIZE GCs — REGIONAL HEAVY CIVIL ──────────────────────\n  {\n    company: 'Barnard Construction Company',\n    segment: 'Mid-Size GC',\n    vertical: 'Heavy Civil / Infrastructure',\n    revenue_est: '$500M-$800M',\n    hq: 'Bozeman, MT',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Pipeline and transmission corridor projects with documented schedule pressure. Not ENR Top 50.',\n    project_range: '$100-300M',\n    contact_title: 'VP of Operations / Project Controls Manager',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'MEDIUM',\n    search_keywords: ['Barnard Construction schedule delay', 'Barnard Construction project controls', 'Barnard Construction claim'],\n    outreach_angle: 'Heavy civil corridor experience maps directly to their pipeline/transmission work. BIR on next bid package.'\n  },\n\n  {\n    company: 'Granite Telecommunications / Granite Construction (mid-tier ops)',\n    segment: 'Mid-Size GC',\n    vertical: 'Heavy Civil / Highway',\n    revenue_est: '$300-600M ops division',\n    hq: 'Watsonville, CA',\n    vertically_integrated: false,\n    signal: 'LOSS',\n    signal_detail: 'Public company — SEC filings show project write-downs on fixed-price highway contracts 2023-2024.',\n    project_range: '$150-300M',\n    contact_title: 'Director of Project Controls',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Granite Construction project loss 2024', 'Granite Construction schedule claim', 'Granite Construction 10-K overrun'],\n    outreach_angle: 'SEC-documented project losses. SmartPM monitoring prevents recurrence. BIR on active bids.'\n  },\n\n  {\n    company: 'Primoris Services Corporation — Utilities Division',\n    segment: 'Mid-Size GC',\n    vertical: 'Utilities / Pipeline / Power',\n    revenue_est: '$800M-$1.2B (utilities segment)',\n    hq: 'Dallas, TX',\n    vertically_integrated: false,\n    signal: 'LOSS',\n    signal_detail: 'Public company. Utilities segment has shown margin compression on fixed-price contracts. Not vertically integrated on controls side.',\n    project_range: '$100-250M',\n    contact_title: 'VP Project Controls / Scheduling Manager',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Primoris Services project loss utilities', 'Primoris schedule delay claim', 'Primoris 10-K cost overrun'],\n    outreach_angle: 'Texas-based — local relationship angle. Utilities/power corridor overlap with CHPE experience.'\n  },\n\n  {\n    company: 'Wanzek Construction',\n    segment: 'Mid-Size GC',\n    vertical: 'Energy / Industrial / Wind',\n    revenue_est: '$400-700M',\n    hq: 'Fargo, ND',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Wind and industrial construction. Complex multi-prime interfaces. Known for schedule pressure on renewable energy projects.',\n    project_range: '$100-300M',\n    contact_title: 'Director of Planning and Scheduling',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'MEDIUM',\n    search_keywords: ['Wanzek Construction schedule delay', 'Wanzek wind project controls', 'Wanzek Construction claim'],\n    outreach_angle: 'Renewable energy + HVDC transmission intersection. ALICE simulation angle on pre-construction.'\n  },\n\n  {\n    company: 'Cianbro Corporation',\n    segment: 'Mid-Size GC',\n    vertical: 'Industrial / Marine / Energy',\n    revenue_est: '$600M-$900M',\n    hq: 'Pittsfield, ME',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Complex industrial and marine projects in Northeast. Known schedule complexity on multi-discipline projects.',\n    project_range: '$100-300M',\n    contact_title: 'VP Engineering and Planning',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Cianbro Corporation project delay', 'Cianbro schedule claim', 'Cianbro project controls'],\n    outreach_angle: 'Northeast corridor — geographic overlap with CHPE/TDI territory. Marine and industrial scope experience.'\n  },\n\n  {\n    company: 'Dunn Construction Co',\n    segment: 'Mid-Size GC',\n    vertical: 'Heavy Civil / Highways',\n    revenue_est: '$200-400M',\n    hq: 'Birmingham, AL',\n    vertically_integrated: false,\n    signal: 'LOSS',\n    signal_detail: 'Regional heavy civil. Fixed-price highway and bridge projects with documented completion delays on state DOT contracts.',\n    project_range: '$100-200M',\n    contact_title: 'Project Manager / Scheduling Lead',\n    smartpm_fit: 'MEDIUM',\n    bir_fit: 'HIGH',\n    search_keywords: ['Dunn Construction Alabama delay claim', 'Dunn Construction DOT project overrun'],\n    outreach_angle: 'SmartPM Essentials entry point. BIR on DOT bid packages. Low-cost entry for regional player.'\n  },\n\n  // ── SEGMENT 2: NON-VERTICALLY INTEGRATED OWNERS ──────────────────────────\n  {\n    company: 'NV Energy (Berkshire Hathaway Energy)',\n    segment: 'Owner — Utility',\n    vertical: 'Power / Transmission',\n    revenue_est: 'Subsidiary — large',\n    hq: 'Las Vegas, NV',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Transmission expansion program. Owner-side controls dependent on contractor reporting. No independent schedule analytics capability.',\n    project_range: '$150-400M',\n    contact_title: 'Director of Capital Projects / Project Controls',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['NV Energy transmission project delay', 'NV Energy capital project controls', 'NV Energy contractor claim'],\n    outreach_angle: 'Direct TDI/CHPE analog. Transmission owner with no independent controls. BIR + SmartPM Owner module.'\n  },\n\n  {\n    company: 'Avangrid Renewables',\n    segment: 'Owner — Renewable Energy',\n    vertical: 'Offshore Wind / Transmission',\n    revenue_est: '$2B+ parent',\n    hq: 'Portland, ME',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Vineyard Wind and other offshore projects experiencing significant schedule delays. Owner-side controls gap documented publicly.',\n    project_range: '$200-500M+',\n    contact_title: 'VP Project Controls / Director of Construction',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Avangrid offshore wind delay 2024 2025', 'Avangrid project controls gap', 'Avangrid Vineyard Wind schedule'],\n    outreach_angle: 'Offshore wind + transmission. Ørsted connection as warm intro path. Owner intelligence gap is the exact problem.'\n  },\n\n  {\n    company: 'Pattern Energy',\n    segment: 'Owner — Renewable Energy',\n    vertical: 'Wind / Solar / Transmission',\n    revenue_est: '$1B+ (CPP Investments backed)',\n    hq: 'San Francisco, CA',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'SunZia transmission project — largest wind energy project in US history. Complex multi-contractor delivery. Owner-side controls critical.',\n    project_range: '$100-300M per phase',\n    contact_title: 'VP Construction / Project Controls Director',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Pattern Energy SunZia delay 2025', 'Pattern Energy project controls', 'SunZia transmission schedule'],\n    outreach_angle: 'SunZia is the CHPE equivalent in the Southwest. Owner-side IMS + SmartPM is the exact capability gap.'\n  },\n\n  // ── SEGMENT 3: REGIONAL TRANSIT / WATER AUTHORITIES ─────────────────────\n  {\n    company: 'Sound Transit (Seattle)',\n    segment: 'Public Owner — Transit',\n    vertical: 'Rail / Transit Infrastructure',\n    revenue_est: 'Public agency — $54B program',\n    hq: 'Seattle, WA',\n    vertically_integrated: false,\n    signal: 'LOSS',\n    signal_detail: 'Documented cost overruns exceeding $12B on light rail extensions. Schedule slippage publicly reported. Board-level scrutiny.',\n    project_range: '$200-800M per contract',\n    contact_title: 'Director of Project Controls / Capital Programs',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Sound Transit cost overrun 2024 2025', 'Sound Transit schedule delay project controls', 'Sound Transit contractor claim'],\n    outreach_angle: 'FedRAMP authorized SmartPM fits public agency procurement. Documented losses create urgency. BIR on active bid packages.'\n  },\n\n  {\n    company: 'Denver Water',\n    segment: 'Public Owner — Water Utility',\n    vertical: 'Water Infrastructure',\n    revenue_est: 'Public utility — $2B+ capital program',\n    hq: 'Denver, CO',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Gross Reservoir expansion project experienced significant delays and cost increases. Owner-side controls gap.',\n    project_range: '$100-300M',\n    contact_title: 'Capital Projects Director / Project Controls Manager',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'MEDIUM',\n    search_keywords: ['Denver Water Gross Reservoir delay overrun', 'Denver Water project controls capital program'],\n    outreach_angle: 'Water utility owner with documented project loss. SmartPM Owner module + BIR on next bid cycle.'\n  },\n\n  // ── SEGMENT 4: SMALL CONSULTING COMPANIES (OPM/CM) ───────────────────────\n  {\n    company: 'ARCADIS — Project Controls Division (mid-market)',\n    segment: 'Small-Mid Consulting',\n    vertical: 'Program Management / Owner Rep',\n    revenue_est: 'Parent large — target division is mid-market',\n    hq: 'Global / US offices',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Consulting firm competing on owner-rep engagements. Technology differentiation is a procurement win factor.',\n    project_range: '$100-300M client projects',\n    contact_title: 'Practice Lead — Project Controls',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Arcadis project controls SmartPM', 'Arcadis schedule analytics construction'],\n    outreach_angle: 'Co-referral model. They bring the relationship, you and SmartPM bring the AI analytics stack. Sub-consulting angle.'\n  },\n\n  {\n    company: 'Cumming Group',\n    segment: 'Small-Mid Consulting',\n    vertical: 'Owner Rep / Program Management',\n    revenue_est: '$200-400M',\n    hq: 'Atlanta, GA',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Growing OPM firm. Competes on relationships but lacks technology-enabled schedule controls differentiation.',\n    project_range: '$100-300M client projects',\n    contact_title: 'Regional Director / VP Project Controls',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['Cumming Group project controls technology', 'Cumming Group SmartPM schedule analytics'],\n    outreach_angle: 'SmartPM as competitive differentiator in their proposals. You become their technology enablement partner.'\n  },\n\n  {\n    company: 'Kitchell Corporation',\n    segment: 'Small-Mid GC / CM',\n    vertical: 'Healthcare / Education / Institutional',\n    revenue_est: '$500-800M',\n    hq: 'Phoenix, AZ',\n    vertically_integrated: false,\n    signal: 'DELAY',\n    signal_detail: 'Complex institutional projects with LD exposure. Healthcare and education construction has aggressive penalty clauses.',\n    project_range: '$100-250M',\n    contact_title: 'Director of Scheduling / VP Operations',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'MEDIUM',\n    search_keywords: ['Kitchell Corporation schedule delay', 'Kitchell project controls healthcare construction'],\n    outreach_angle: 'Institutional owner market — LD exposure on hospital and school projects. SmartPM continuous monitoring.'\n  },\n\n  {\n    company: 'Solo OPM Practitioners — LinkedIn Sourced',\n    segment: 'Solo Consulting',\n    vertical: 'All',\n    revenue_est: '$500K-$2M annual',\n    hq: 'Various',\n    vertically_integrated: false,\n    signal: 'NONE — proactive play',\n    signal_detail: 'Senior OPMs (20+ yrs exp) running solo practices. Need SmartPM to compete against larger CM firms. Cannot access enterprise licensing directly.',\n    project_range: '$100-300M client projects',\n    contact_title: 'Principal / Owner',\n    smartpm_fit: 'HIGH',\n    bir_fit: 'HIGH',\n    search_keywords: ['independent owner representative construction LinkedIn', 'solo project controls consultant LinkedIn', 'OPM consultant independent'],\n    outreach_angle: 'Peer-to-peer. You are them. SmartPM Essentials through your partner agreement. Offer sub-consulting on BIR engagements.'\n  }\n\n];\n\nconst today = new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' });\n\nreturn prospects.map(p => ({ json: { ...p, generated_date: today } }));"
        },
        "name": "Load Prospect Database",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          400
        ],
        "id": "76ca4367-40ce-46f9-b2fb-05adbaad94b8"
      },
      {
        "parameters": {
          "url": "=https://newsapi.org/v2/everything?q={{ encodeURIComponent($json.search_keywords[0]) }}&sortBy=publishedAt&pageSize=3&language=en&apiKey=YOUR_NEWSAPI_KEY",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "name": "News API — Scan for Signals",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          720,
          400
        ],
        "id": "c09a45b5-43f7-49ef-82e1-8b9a4564a63c"
      },
      {
        "parameters": {
          "url": "=https://efts.sec.gov/LATEST/search-index?q=%22{{ encodeURIComponent($('Load Prospect Database').item.json.company) }}%22+%22project+loss%22&dateRange=custom&startdt=2024-01-01&enddt=2026-12-31&forms=10-K,10-Q,8-K",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "name": "SEC EDGAR — Search Financial Filings",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          720,
          560
        ],
        "notes": "Free SEC full-text search API — no key needed. Searches for project loss disclosures in 10-K, 10-Q, 8-K filings.",
        "id": "6dfbb30f-9736-46f2-b14b-8b53e7326034"
      },
      {
        "parameters": {
          "model": "claude-haiku-3-20250307",
          "messages": {
            "values": [
              {
                "role": "user",
                "content": "=You are the business development intelligence assistant for Michael Craig at Exsto Cura Consilium.\n\nMichael is a Senior Principal project controls consultant and authorized SmartPM referral partner.\nHis specialization: HVDC transmission, offshore wind, energy infrastructure, AI-enabled project controls.\nKey offerings: BIR™ (Bid Schedule Intelligence Review), TRIAGE-IMPACT™ TIA framework, SmartPM deployment, ALICE simulation.\nProof of concept: CO-015 on CHPE settled $27M — the parallel tracks gap between schedule forensics and commercial claims.\n\nAnalyze this prospect and write a targeted intelligence brief.\n\nCOMPANY: {{ $('Load Prospect Database').item.json.company }}\nSEGMENT: {{ $('Load Prospect Database').item.json.segment }}\nVERTICAL: {{ $('Load Prospect Database').item.json.vertical }}\nSIGNAL TYPE: {{ $('Load Prospect Database').item.json.signal }}\nSIGNAL DETAIL: {{ $('Load Prospect Database').item.json.signal_detail }}\nSMARTPM FIT: {{ $('Load Prospect Database').item.json.smartpm_fit }}\nBIR FIT: {{ $('Load Prospect Database').item.json.bir_fit }}\nOUTREACH ANGLE: {{ $('Load Prospect Database').item.json.outreach_angle }}\nPROJECT RANGE: {{ $('Load Prospect Database').item.json.project_range }}\n\nRECENT NEWS:\n{{ JSON.stringify($('News API — Scan for Signals').first().json.articles?.slice(0,3).map(a => ({ title: a.title, date: a.publishedAt, source: a.source?.name, snippet: a.description })), null, 2) }}\n\nSEC FILING SIGNALS:\n{{ JSON.stringify($('SEC EDGAR — Search Financial Filings').first().json?.hits?.hits?.slice(0,3).map(h => ({ filing: h._source?.period_of_report, form: h._source?.form_type, snippet: h._source?.file_date })), null, 2) }}\n\nWrite a crisp intelligence brief with these exact sections:\n\n## SITUATION\n2-3 sentences. What is happening with this company right now based on news and signals.\n\n## PAIN SIGNAL\n1-2 sentences. Specific evidence of the schedule/commercial problem SmartPM solves.\n\n## MICHAEL'S ANGLE\n2-3 sentences. Why reach out NOW. What specific capability closes their gap.\n\n## OUTREACH MESSAGE (LinkedIn or Email)\nWrite a 5-7 sentence message in Michael's voice:\n- Reference specific company situation or recent news\n- Mention CHPE/HVDC experience as credibility anchor\n- Position SmartPM as the solution (not a tool pitch — a capability offer)\n- Include BIR as low-risk entry point where fit is HIGH\n- Do NOT mention dollar amounts or pricing\n- End with a specific question that invites a reply\n\n## RECOMMENDED ACTION\nOne clear next step. Specific.\n\n## PRIORITY SCORE\nRate 1-10 based on: signal strength, SmartPM fit, BIR fit, relationship potential, timing."
              }
            ]
          },
          "options": {
            "maxTokens": 1500
          }
        },
        "name": "Claude — Generate Prospect Brief",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1,
        "position": [
          960,
          480
        ],
        "credentials": {
          "anthropicApi": {
            "id": "u85U62dgbcEwpdkT",
            "name": "Anthropic account"
          }
        },
        "id": "a2488477-642f-42c3-815f-1591ac2c048b"
      },
      {
        "parameters": {
          "databaseId": {
            "__rl": true,
            "value": "5a82e81eee314b7788eb70187c4fb083",
            "mode": "id"
          },
          "title": "={{ $('Load Prospect Database').item.json.company }} - SmartPM Intel {{ new Date().toLocaleDateString() }}",
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Company|rich_text",
                "textContent": "={{ $('Load Prospect Database').item.json.company }}"
              },
              {
                "key": "Segment|select",
                "select": "={{ $('Load Prospect Database').item.json.segment }}"
              },
              {
                "key": "Signal|select",
                "select": "={{ $('Load Prospect Database').item.json.signal }}"
              },
              {
                "key": "SmartPM Fit|select",
                "select": "={{ $('Load Prospect Database').item.json.smartpm_fit }}"
              },
              {
                "key": "BIR Fit|select",
                "select": "={{ $('Load Prospect Database').item.json.bir_fit }}"
              },
              {
                "key": "Status|select",
                "select": "Brief Ready"
              },
              {
                "key": "Week|date",
                "includeTime": true,
                "date": "={{ new Date().toISOString() }}"
              }
            ]
          },
          "blockUi": {
            "blockValues": [
              {
                "type": "paragraph",
                "richText": {
                  "text": "={{ $json.text }}"
                }
              }
            ]
          },
          "resource": "databasePage"
        },
        "name": "Save to Notion BD",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2,
        "position": [
          1200,
          400
        ],
        "credentials": {
          "notionApi": {
            "id": "sHCYhXvTmtCNQPUU",
            "name": "Notion account"
          }
        },
        "id": "2a79dde8-321c-4878-bb57-333889176943"
      },
      {
        "parameters": {
          "jsCode": "const allItems = $input.all();\nconst today = new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric' });\nlet digest = `<div style='font-family: Georgia, serif; max-width: 700px; padding: 24px; background: #080808; color: #ede9e1;'>`;\ndigest += `<div style='border-bottom: 1px solid rgba(201,169,110,0.3); padding-bottom: 16px; margin-bottom: 24px;'>`;\ndigest += `<div style='font-family: monospace; font-size: 11px; letter-spacing: 3px; text-transform: uppercase; color: #c9a96e; margin-bottom: 8px;'>SmartPM Market Intelligence</div>`;\ndigest += `<h2 style='font-size: 22px; font-weight: 600; color: #ede9e1; margin: 0;'>Weekly Prospect Briefing</h2>`;\ndigest += `<p style='font-size: 12px; color: #666; margin: 6px 0 0;'>${today} Â· ${allItems.length} prospects Â· Exsto Cura Consilium</p></div>`;\nallItems.forEach((item, i) => {\n  const p = { ...($('Load Prospect Database').all()[i]?.json || {}), text: item.json.text || '' };\n  const signalColor = p.signal === 'LOSS' ? '#e07070' : p.signal === 'DELAY' ? '#e0b870' : '#7dc89a';\n  const fitColor = p.smartpm_fit === 'HIGH' ? '#7dc89a' : p.smartpm_fit === 'MEDIUM' ? '#e0b870' : '#888';\n  digest += `<div style='margin-bottom: 28px; padding: 18px; background: #111; border-left: 3px solid #c9a96e;'>`;\n  digest += `<div style='display: flex; justify-content: space-between; flex-wrap: wrap; gap: 8px;'>`;\n  digest += `<h3 style='font-size: 15px; font-weight: 600; color: #ede9e1; margin: 0;'>${p.company || ''}</h3>`;\n  digest += `<span style='font-size: 10px; color: #c9a96e;'>${p.segment || ''}</span></div>`;\n  digest += `<p style='font-size: 12px; color: #aaa; line-height: 1.6;'><strong style='color: #c9a96e;'>Signal:</strong> ${p.signal_detail || ''}</p>`;\n  if (p.text) digest += `<div style='margin-top: 12px; font-size: 11px; color: #777;'>${String(p.text).substring(0, 280)}...</div>`;\n  digest += `</div>`;\n});\ndigest += `<p style='font-size: 11px; color: #555;'>Full briefings in Notion Â· Exsto Cura</p></div>`;\nreturn [{ json: { digest, count: allItems.length, date: today } }];"
        },
        "name": "Build Weekly Market Digest",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          580
        ],
        "id": "f36f2335-51e5-41b7-bbd6-a857476c123e"
      },
      {
        "parameters": {
          "sendTo": "mcraig@exstocura.com",
          "subject": "=📊 SmartPM Market Intel — {{ $json.count }} Prospects | {{ $json.date }}",
          "emailType": "html",
          "message": "={{ $json.digest }}",
          "options": {}
        },
        "name": "Send Market Digest to Michael",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          1440,
          580
        ],
        "credentials": {
          "gmailOAuth2": {
            "id": "ulhDjv62tjLURSP5",
            "name": "Gmail account"
          }
        },
        "id": "b23f96c5-65ae-4da9-8a6d-34b4d41e82ed"
      },
      {
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -200,
          700
        ],
        "parameters": {},
        "id": "4052b7c7-88b6-4756-b89e-9635c4bf8df8"
      },
      {
        "name": "Error Notify",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          80,
          700
        ],
        "parameters": {
          "sendTo": "mcraig@exstocura.com",
          "subject": "=n8n error: SmartPM Market Agent",
          "emailType": "html",
          "message": "=<p><b>Workflow</b>: SmartPM Market Agent</p><p><b>Error</b>: {{ $json.execution?.error?.message || 'Unknown' }}</p><p><a href=\"https://exo-project-integrity.app.n8n.cloud\">Open n8n</a></p>",
          "options": {}
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "ulhDjv62tjLURSP5",
            "name": "Gmail account"
          }
        },
        "id": "f58f6e9b-4858-48c4-a1a5-29bfc2398bed"
      }
    ],
    "connections": {
      "Trigger — Every Monday 6am": {
        "main": [
          [
            {
              "node": "Load Prospect Database",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Prospect Database": {
        "main": [
          [
            {
              "node": "News API — Scan for Signals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "News API — Scan for Signals": {
        "main": [
          [
            {
              "node": "SEC EDGAR — Search Financial Filings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SEC EDGAR — Search Financial Filings": {
        "main": [
          [
            {
              "node": "Claude — Generate Prospect Brief",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude — Generate Prospect Brief": {
        "main": [
          [
            {
              "node": "Save to Notion BD",
              "type": "main",
              "index": 0
            },
            {
              "node": "Build Weekly Market Digest",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Weekly Market Digest": {
        "main": [
          [
            {
              "node": "Send Market Digest to Michael",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Error Notify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Michael S Craig",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-29T22:25:16.556Z",
        "id": 19,
        "workflowId": "8Lg3lsjoraEUizfw",
        "versionId": "a5b73e68-7b0a-4ac4-94e3-095d901d5a98",
        "event": "activated",
        "userId": "08b1927e-c622-4757-9925-b2a90be3de58"
      }
    ]
  }
}